*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body, html {
    font-family: Arial,sans-serif;
    font-size: 100%;
    color: #000;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#wrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 3em;
}

#wrapper header {
    display: flex;
    width: 100%;
    align-items: center;
    color: #aaa;
    flex-direction: row;
}

#wrapper header > div {
    flex-direction: column;
    width: 100%;
}

#wrapper header > div:nth-child(2) {
    text-align: right;
}

#b_searchform {
    margin-bottom: 2em;
}

#b_searchform label {
    display: none;
    margin-top: 2em;
    margin-left: 1em;
    color: red;
}

#b_searchbox {
    width: 100%;
    margin: 5px 0px 1px 1px;
    padding: 0 10px 0 19px;
    border: 0;
    max-height: none;
    outline: none;
    box-sizing: border-box;
    height: 44px;
    vertical-align: top;
    background-color: transparent;
    border-radius: 22px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 2px 4px 1px rgba(0,0,0,.18);
    border-left: 1px solid transparent;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

#b_searchbutton {
    background-color: #fff;
    border: 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    margin-left: -40px;
    margin-top: 7px;
    position: absolute;
}

#b_searchbutton > img {
    width: 15px;
}

#b_searchtutorial,
#b_searchlinks {
    margin-top: 2em;
    margin-left: 2em;
    color: #333;
}

#b_searchtutorial li,
#b_searchlinks li {
    margin-bottom: 10px;
    line-height: 20px;
}

hr {
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

h3 {
    margin-top: 1em;
}

a {
    color: #007bff;
}

footer {
    text-align: center;
    padding-top: 3em;
}